<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainticket.dao.main.OrderDao">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.trainticket.entity.Order">
        insert into
        tt_order (customer_id,passenger_id,train_number,leave_station_id,arrive_station_id,leave_time,arrive_time,price)
        values (#{customer_id},#{passenger_id},#{train_number},#{leave_station_id},#{arrive_station_id},#{leave_time},#{arrive_time},#{price});
    </insert>

    <select id="findByPsIdTime" resultType="com.trainticket.entity.Order">
        select * from tt_order
        where del_flag = 0
        and passenger_id = #{passenger_id}
        and leave_time &lt;= #{arrive_time}
        and arrive_time >= #{leave_time};
    </select>
</mapper>