<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainticket.dao.main.TrainDao">
    <resultMap id="trainRes" type="com.trainticket.entity.Train">
        <association property="leaveStation" javaType="com.trainticket.entity.Station">
            <result property="id" column="leave_station_id"/>
            <result property="name" column="leave_station_name"/>
        </association>
        <association property="arriveStation" javaType="com.trainticket.entity.Station">
            <result property="id" column="arrive_station_id"/>
            <result property="name" column="arrive_station_name"/>
        </association>
    </resultMap>
    <select id="findLeaveArriveStation" parameterType="String" resultMap="trainRes">
        select
            lv.id as leave_station_id,
            lv.name as leave_station_name,
            ar.id as arrive_station_id,
            ar.name as arrive_station_name
        from station lv, station ar
        where lv.city = #{startCity}
        and ar.city = #{endCity};
    </select>
</mapper>